<h3>Alta de alumno V3</h3>
<form (ngSubmit)="darAlta()">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="nombreHelp" placeholder="Introduce el nombre del alumno." [(ngModel)] = "user.nombre" />
    <small id="nombreHelp" class="form-text text-muted">Introduce el nombre del alumno.</small>
  </div>
  <div class="form-group">
    <label for="apellidos">Apellidos</label>
    <input type="text" class="form-control" id="apellidos" name="apellidos" aria-describedby="apellidosHelp" placeholder="Introduce los apellidos de los alumnos." [(ngModel)] = "user.apellidos" />
    <small id="apellidosHelp" class="form-text text-muted">Introduce los apellidos de los alumnos.</small>
  </div>

  <div class="form-group">
    <label for="sexo">Sexo</label>
    <select class="form-control" id="sexo" name="sexo" [(ngModel)] = "user.sexo">
      <option value="0">Hombre</option>
      <option value="1">Mujer</option>
    </select>
  </div>
  <div class="form-group">
      <label for="avatar">Avatar</label>
      <input type="text" class="form-control" id="avatar" name="avatar" aria-describedby="avatarHelp" placeholder="Introduce el avatar del alumno." [(ngModel)] = "user.avatar">
      <small id="avatarHelp" class="form-text text-muted">Introduce el avatar del alumno.</small>
    </div>
  <div class="form-group">
    <label for="notas">Notas</label>
    <input type="text" class="form-control" id="notas" name="notas" aria-describedby="notasHelp" placeholder="Introduce las notas del alumno." [(ngModel)] = "user.notas">
    <small id="notasHelp" class="form-text text-muted">Introduce las notas del alumno.</small>
  </div>
  <button type="submit" class="btn btn-primary">Dar de alta</button>
</form>