PUSH:
<div *ngFor="let usuario of usuarioPush">
  {{usuario.name}}
</div>

NORMAL:
<div *ngIf="usuario">
  {{usuario.name}}
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ (usuarioObservable$| async).name}}</h5>
    <p class="card-text">{{ (usuarioObservable$| async).username}} - {{ (usuarioObservable$| async).email}}</p>
  </div>
  <div class="card-body">
    <a (click)="verListaPosts()" class="card-link">Ver posts</a>
  </div>
</div>