<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <mat-chip-list>
    <mat-chip>One fish</mat-chip>
    <mat-chip>Two fish</mat-chip>
    <mat-chip color="primary" selected>Primary fish</mat-chip>
    <mat-chip color="accent" selected>Accent fish</mat-chip>
  </mat-chip-list>
  <button (click)="login()">Login (Google)</button>
  <button (click)="logout()">Logout</button>
  <button (click)="cambiarIdioma('es')">Español</button>
  <button (click)="cambiarIdioma('en')">Inglés</button>
</div>
<h3>{{ 'animales.list' | translate}}</h3>
<router-outlet></router-outlet>
