<mat-card class="example-card" *ngIf="animal">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Nombre</mat-card-title>
    <mat-card-subtitle>{{animal.nombre}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{animal.imagen}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{animal.bio}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="editarAnimal()"><mat-icon>edit</mat-icon></button>
    <button mat-button (click)="borrarAnimal()"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>
{{ 'animales.list' | translate}}