<h3>Alta de alumno</h3>
<form #frm (submit)="darAlta(nombre.value,apellidos.value,sexo.value,avatar.value,notas.value)">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" aria-describedby="nombreHelp" placeholder="Introduce el nombre del alumno." #nombre>
    <small id="nombreHelp" class="form-text text-muted">Introduce el nombre del alumno.</small>
  </div>
  <div class="form-group">
    <label for="apellidos">Apellidos</label>
    <input type="text" class="form-control" id="apellidos" aria-describedby="apellidosHelp" placeholder="Introduce los apellidos de los alumnos." #apellidos>
    <small id="apellidosHelp" class="form-text text-muted">Introduce los apellidos de los alumnos.</small>
  </div>

  <div class="form-group">
    <label for="sexo">Sexo</label>
    <select class="form-control" id="sexo" #sexo>
      <option>Hombre</option>
      <option>Mujer</option>
    </select>
  </div>
  <div class="form-group">
      <label for="avatar">Avatar</label>
      <input type="text" class="form-control" id="avatar" aria-describedby="avatarHelp" placeholder="Introduce el avatar del alumno." #avatar>
      <small id="avatarHelp" class="form-text text-muted">Introduce el avatar del alumno.</small>
    </div>
  <div class="form-group">
    <label for="notas">Notas</label>
    <input type="text" class="form-control" id="notas" aria-describedby="notasHelp" placeholder="Introduce las notas del alumno." #notas>
    <small id="notasHelp" class="form-text text-muted">Introduce las notas del alumno.</small>
  </div>
  <button type="submit" class="btn btn-primary">Dar de alta</button>
</form>