<h3>Alta de animal</h3>
<form [formGroup]="altaForm" class="example-container">
  <mat-form-field>
    <input matInput placeholder="Nombre animal" formControlName="nombre">
  </mat-form-field>
  <span *ngIf="altaForm.controls.nombre.invalid && altaForm.controls.nombre.touched" class="alert alert-danger">El nombre
      no es válido</span>
  <mat-form-field>
    <textarea matInput placeholder="Bio" formControlName="bio"></textarea>
  </mat-form-field>
  <span *ngIf="altaForm.controls.bio.invalid && altaForm.controls.bio.touched" class="alert alert-danger">La bio no es
      válida</span>
  <mat-form-field>
    <input matInput placeholder="Imagen" formControlName="imagen">
  </mat-form-field>
  <span *ngIf="altaForm.controls.imagen.invalid && altaForm.controls.imagen.touched" class="alert alert-danger">La imagen
      no es válida</span>
  <!-- Para borrar necesitamos el índice del array -->
  <div formArrayName="cuidadores">
      <div *ngFor="let cuidador of cuidadoresForm.controls; let i=index" [formGroupName]="i">
          <input matInput placeholder="Nombre del cuidador" formControlName="nombreCuidador">
      </div>      
  </div>
  <button mat-button color="primary" (click)="nuevoCuidador()">Nuevo cuidador</button>
  <button mat-button color="primary" (click)="alta()" [disabled]="!altaForm.valid">Dar de alta</button>
</form>