<h3>Listado alumnos admitidos. Nota de corte: {{notaCorte}}</h3>
<div *ngIf="alumnosAdmitidos.length > 0;else noAdmitidos">
  <ul class="list-group">
      ALUMNOS CON ASYNC:
      <li *ngFor="let alumno of alumnosAdmitidos | myPipe:0:3; let i=index;" class="list-group-item">
        <app-alumno [alumno]=alumno (calculoMedia)="verMedia($event, i)"></app-alumno>
        <div class="row" *ngIf="alertMedia === i">
          <div class="alert alert-info" role="alert">
            {{mediaAlumno | number:'1.1-2'}}
          </div>
        </div>
      </li>
      ALUMNOS CON ASYNC OBSERVABLE:
      <div *ngIf="(alumnos$ | async) && (alumnos$ | async).length > 0">
        <li *ngFor="let alumno of alumnos$ | async; let i=index;" class="list-group-item">
          <app-alumno [alumno]=alumno (calculoMedia)="verMedia($event, i)"></app-alumno>
          <div class="row" *ngIf="alertMedia === i">
            <div class="alert alert-info" role="alert">
              {{mediaAlumno | number:'1.1-2'}}
            </div>
          </div>
        </li>
      </div>
      ALUMNOS CON EL AGENTE PUSH:
      <div *ngIf="alumnos.length > 0">
        <li *ngFor="let alumno of alumnos; let i=index;" class="list-group-item">
          <app-alumno [alumno]=alumno (calculoMedia)="verMedia($event, i)"></app-alumno>
          <div class="row" *ngIf="alertMedia === i">
            <div class="alert alert-info" role="alert">
              {{mediaAlumno | number:'1.1-2'}}
            </div>
          </div>
        </li>
      </div>
    </ul>
</div>
<ng-template #noAdmitidos>
  <p>No hay alumnos admitidos en este grupo</p>
</ng-template>
