<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenidos a {{ title }}!
  </h1>
</div>

<div class="container" *ngIf="!autenticado">
  <app-login (doLogin)="gestionLogin($event)"></app-login>
  <app-login-reactive (doLogin)="gestionLogin($event)"></app-login-reactive>
</div>
<div class="container top30" *ngIf="autenticado">
  <router-outlet></router-outlet>
</div>