<h3>Login</h3>
<form (ngSubmit)="submitLogin()">
  <div class="form-group">
    <label for="usuario">Usuario</label>
    <input type="text" class="form-control" id="usuario" name="usuario" aria-describedby="usuarioHelp" placeholder="Introduce el usuario." [(ngModel)] = "form.usuario" />
    <small id="usuarioHelp" class="form-text text-muted">Introduce el usuario.</small>
  </div>
  <div class="form-group">
    <label for="contrasena">Contraseña</label>
    <input type="password" class="form-control" id="contrasena" name="contrasena" aria-describedby="contrasenaHelp" placeholder="Introduce la contraseña." [(ngModel)] = "form.contrasena" />
    <small id="contrasenaHelp" class="form-text text-muted">Introduce la contraseña.</small>
  </div>
  <button type="submit" class="btn btn-primary">Dar de alta</button>
</form>