<div class="row">
  <div class="col">
    <img [src]="avatar + alumno.avatar" />
  </div>
  <div class="col">
      {{alumno.nombre}} {{alumno.apellidos}}
  </div>
  <div class="col">
      <p>Notas:</p>
      <ul class="list-group">
          <li *ngFor="let nota of alumno.notas" class="list-group-item">{{nota}}</li>
      </ul>
  </div>
  <div class="col">
      <button type="button" class="btn btn-info" (click)="verMedia()">Ver media</button>
  </div>
</div>