<div class="alert alert-primary" role="alert">
  Lista de usuarios del blog santander
</div>
<ul class="list-group">
  <li class="row" class="list-group-item active">
    Listado de usuarios PUSH:
  </li>
  <li class="row" *ngFor="let usuario of usersPush" class="list-group-item">
    <a [routerLink]="['/usuarios', usuario.id]">{{usuario.name}}</a> - {{usuario.email}}     
  </li>
</ul>

<ul class="list-group">
  <li class="row" class="list-group-item active">
    Listado de usuarios:
  </li>
  <li class="row" *ngFor="let usuario of users" class="list-group-item">
    <a [routerLink]="[usuario.id]">{{usuario.name}}</a> - {{usuario.email}}     
  </li>
</ul>
