<ul class="list-group">
  <li class="row list-group-item active">
    Listado de posts de usuario:
  </li>
  <li *ngFor="let post of posts" class="row list-group-item">
    {{post.title}} - {{post.body}}     
  </li>
</ul>