VIRTUAL SCROLL:
<mat-list role="list">
  <cdk-virtual-scroll-viewport itemSize="50" style="height: 400px">
    <mat-list-item *cdkVirtualFor="let fakephoto of fakephotos" role="listitem"> 
      <img [src]="fakephoto.url" appLupa />
      ¡{{fakephoto.title}}
    </mat-list-item>
  </cdk-virtual-scroll-viewport>
</mat-list>


<mat-list role="list">
  <mat-list-item *ngFor="let animal of animales"> 
    <a [routerLink]="[animal.payload.doc.id]"
      routerLinkActive="selected">{{animal.payload.doc.data().nombre}} </a>
  </mat-list-item>
</mat-list>
{{ 'animales.list' | translate}}
<mat-card class="example-card" *ngFor="let animal of animales">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Nombre</mat-card-title>
    <mat-card-subtitle>
      <a [routerLink]="[animal.payload.doc.id]" routerLinkActive="selected">{{animal.payload.doc.id}} - {{animal.payload.doc.data().nombre}}</a>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{animal.payload.doc.data().imagen}}" alt="Photo">
  <mat-card-content>
    <p>
      {{animal.payload.doc.data().bio}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="borrarAnimal(animal.payload.doc.id)"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>
<app-alta-animales></app-alta-animales>