<h3>Login reactive</h3>
<form [formGroup]="loginForm">
  <div class="form-group">
    <label for="usuario">Usuario</label>
    <input type="text" class="form-control" id="usuario" name="usuario" aria-describedby="usuarioHelp" placeholder="Introduce el usuario." formControlName="usuario" />
    <small id="usuarioHelp" class="form-text text-muted">Introduce el usuario.</small>
  </div>
  <span *ngIf="loginForm.controls.usuario.invalid && loginForm.controls.usuario.touched" class="alert alert-danger">El usuario no es válido</span>
  <div class="form-group">
    <label for="contrasena">Contraseña</label>
    <input type="password" class="form-control" id="contrasena" name="contrasena" aria-describedby="contrasenaHelp" placeholder="Introduce la contraseña." formControlName="contrasena" />
    <small id="contrasenaHelp" class="form-text text-muted">Introduce la contraseña.</small>
  </div>
  <span *ngIf="loginForm.controls.contrasena.invalid && loginForm.controls.contrasena.touched" class="alert alert-danger">La contraseña no es válida</span>
  <button type="button" class="btn btn-primary" (click)="login()" [disabled]="!loginForm.valid">Dar de alta</button>
</form>