<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenidos a {{ titulo }}!
  </h1>  
</div>
<div class="container">
    <div class="row">
        <app-alta-alumno></app-alta-alumno>
    </div>
</div>
<div class="container">
    <div class="row">
        <app-alta-alumno-v2></app-alta-alumno-v2>
    </div>
</div>
<div class="container">
    <div class="row">
        <app-alta-alumno-v3 (altaCompletada)="gestionarAlta($event)"></app-alta-alumno-v3>
    </div>
</div>

<app-lista-alumnos [notaCorte]=5></app-lista-alumnos>
<app-lista-alumnos [notaCorte]=9></app-lista-alumnos>